.cart {
  background-color: #e5e5e5 !important;
}
.sticky-top {
  top: -1px !important;
}
.products-section__item {
  .test:hover > .card-body {
    background-color: #d3ddea;
  }
  .card {
    border: none;

  }
  .card-body {
    padding: 1rem 0.5rem;
    border: none;
    transition: .3s;
    border-bottom-left-radius: var(--bs-card-inner-border-radius);
    border-bottom-right-radius: var(--bs-card-inner-border-radius);
  }
}
#section1 {
  background-repeat: no-repeat;
}
.cart-body__products-item {
  .input-group {
    width: 100px;
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }
  }
}